<html>

<head>
    <mrRef RefPosition="head" RefType="meta" charset="UTF-8"></mrRef>
    <mrRef RefPosition="head" RefType="meta" name="viewport" content="width=device-width, initial-scale=1.0"></mrRef>
    <mrRef RefPosition="head" RefType="meta" http-equiv="X-UA-Compatible" content="ie=edge"></mrRef>
    <mrRef RefPosition="head" RefType="link" rel="stylesheet" type="text/css" href="public/css/materialize.css"></mrRef>
    <mrRef RefPosition="head" RefType="link" rel="stylesheet" type="text/css" href="public/css/nouislider.min.css"></mrRef>
    <mrRef RefPosition="head" RefType="link" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"></mrRef>
</head>

<body>
    <mrPage IncludeElementIDs="true" />
    <mrPage IncludeCSSNames='true' />

    <div class="main">
        <div class="navbar-fixed navbar z-depth-3">
            <nav class="">
                <div class="nav-wrapper">
                    <div class="company-logo left valign-wrapper">
                        <mrRef RefType="img" src="https://images1.ipsosinteractive.com/images/Colombia/icon-ipsos.svg" alt="logo-terpel"></mrRef>
                    </div>
                    <div class="right nav-buttons">
                        <ul class="">
                            <li>
                                <a href="#" id="btnPrev" class="waves-effect ">
                                    <i class="material-icons large">navigate_before
                                        <mrNavButton Name="Prev" Text="" />
                                    </i></a>
                            </li>
                            <li><a href="#" id="btnStop" class="waves-effect"><i class="material-icons large">pause
                                    <mrNavButton Name="Stop" Text="" />
                                </i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="content">
            <mrBannerText></mrBannerText>
            <mrData></mrData>
        </div>
        <div id="btnNext" class="btn-next waves-effect z-depth-4 disabled">
            <a href="#" class="white-text">
                <mrNavButton Name="Next" Text=""></mrNavButton>SIGUIENTE</a>
        </div>

    </div>

    <mrRef RefType="script" RefPosition="head" type="text/javascript" src="public/js/bin/materialize.js">Text</mrRef>
    <mrRef RefType="script" RefPosition="head" type="text/javascript" src="public/js/bin/init.js">Text</mrRef>
    <mrRef RefType="script" RefPosition="head" type="text/javascript" src="public/js/bin/video.js">Text</mrRef>
    <mrRef RefType="script" RefPosition="head" type="text/javascript" src="public/js/bin/closeness.js">Text</mrRef>

</body>

</html>