<html>

<head>
    <mrRef RefPosition="head" RefType="meta" charset="UTF-8"></mrRef>
    <mrRef RefPosition="head" RefType="meta" name="viewport" content="width=device-width, initial-scale=1.0"></mrRef>
    <mrRef RefPosition="head" RefType="meta" http-equiv="X-UA-Compatible" content="ie=edge"></mrRef>
    <mrRef RefPosition="head" RefType="link" rel="stylesheet" type="text/css" href="https://images3.ipsosinteractive.com/images/Colombia/public/css/materialize.css"></mrRef>
    <mrRef RefPosition="head" RefType="link" rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"></mrRef>
</head>
<style>
    .mrQuestionText {
        display: none;
    }
    #_Q1{
            display: none;
    }
</style>

<body>
    <mrPage IncludeElementIDs="true" />
    <mrPage IncludeCSSNames='true' />

    <div class="main">
        <div class="navbar-fixed navbar z-depth-3">
            <nav class="">
                <div class="nav-wrapper">
                    <div class="company-logo left valign-wrapper">
                        <mrRef RefType="img" src="https://images1.ipsosinteractive.com/images/Colombia/icon-ipsos.svg"
                            alt="logo-terpel"></mrRef>
                    </div>
                    <div class="right nav-buttons">
                        <ul class="">
                            <li><a href="#" id="btnPrev" class="waves-effect "><i
                                        class="material-icons large">navigate_before
                                        <mrNavButton Name="Prev" Text="" /></i></a></li>
                            <li><a href="#" id="btnStop" class="waves-effect"><i class="material-icons large">pause
                                        <mrNavButton Name="Stop" Text="" /></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="login_container">
                <div class="card-panel">
                    <mrData QuestionElement='Error'>The Top Errors</mrData>
                    <div class="input-field">

                        <mrData QuestionElement="Controls" />
                        <mrData QuestionElement="Label" />
                        
                    </div>
                    <div id="btnNext" class="btn-ingresar waves-effect">
                        <a href="#" class="btn waves-effect">
                            <mrNavButton Name="Next" Text=""></mrNavButton>SIGUIENTE
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="page-footer">
            <div class="footer-copyright">
                <span>© 2017 Ipsos All Rights Reserved</span>
            </div>
        </footer>
    </div>

    <mrRef RefType="script" RefPosition="head" type="text/javascript" src="https://images3.ipsosinteractive.com/images/Colombia/public/js/bin/materialize.js">Text</mrRef>
    <mrRef RefType="script" RefPosition="head" type="text/javascript" src="https://images3.ipsosinteractive.com/images/Colombia/public/js/bin/init.js">Text</mrRef>
    <script>
            var inputID = document.getElementById("_Q0")
    
            inputID.setAttribute("placeholder", "Ingrese su cédula")
    </script>
</body>

</html>